.pos-rel {
  position: relative;
}

.pos-fix {
  position: fixed;
}


/* Planetary Info Graphics */

.CryptoInfo {
  width: 75%;
  height: 75%;
  margin: auto;
  position: relative;
}
@media (max-width: 479px) {
  .CryptoInfo {
    left: 50%;
    top: 170px;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 450px;
  }
}

.CryptoInfo .wrap {
  position: absolute;
}

.CryptoInfo .planet {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 15000;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .CryptoInfo .planet {
    height: 75px;
    width: 75px;
  }
}
@media (max-width: 479px) {
  .CryptoInfo .planet {
    height: 75px;
    width: 75px;
  }
}


.CryptoInfo #planet-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../images/cryptoinfo/Planet_center.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 300px;
  width: 300px;
}
@media (max-width: 767px) {
  .CryptoInfo #planet-center {
    transform: translate(-50%, -50%) scale(0.7);
  }
}
@media (max-width: 479px) {
  .CryptoInfo #planet-center {
    transform: translate(-50%, -50%) scale(0.75);
  }
}

.CryptoInfo .hint-wrap {
  position: absolute;
  left: 0;
  top: 0;
}

.CryptoInfo .hint-leg {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 59px;
  transform: translateY(-100%);
  background-image: url(../images/cryptoinfo/hint-leg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 10000;
}

.CryptoInfo .hint-plane {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 86px;
  transform: translateY(-100%);
  background-image: url(../images/cryptoinfo/hint-plane.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 20000;
}

.CryptoInfo .hint-value-wrap {
  position: relative;
}

.CryptoInfo .hint-value {
  position: absolute;
  width: 125px;
  height: 20px;
  left: 60px;
  top: 4px;
  z-index: 20000;
  font-size: 0.75rem;
  color: white;
  text-align: center;
  font-family: Consolas, Menlo, monospace;
}

@media (max-width: 479px) {
  .div-block-34._4 {
    margin-top: -360px;
  }
}

.CryptoInfo #p1 {
  background-image: url(../images/cryptoinfo/Planet_1.png);
}

.CryptoInfo #p2 {
  background-image: url(../images/cryptoinfo/Planet_2.png);
}

.CryptoInfo #p3 {
  background-image: url(../images/cryptoinfo/Planet_3.png);
}

.CryptoInfo #p4 {
  background-image: url(../images/cryptoinfo/Planet_4.png);
}

.CryptoInfo #p5 {
  background-image: url(../images/cryptoinfo/Planet_5.png);
}


/* Counters */

.animated-counter {
  position: absolute;
  font-family: perfoovalnormal;
  text-align: right;
}

#members-counter {
  font-size: 1.7rem;
  top: 94px;
  left: 148px;
  color: white;
  width: 103px;
  transform: rotate(-8.8deg);
  text-shadow: 1px 1px 3px red, -1px 1px 3px red, 1px -1px 3px red, -1px -1px 3px red;
}

#trades-counter-host {
  perspective: 500px;
}

#trades-counter {
  font-size: 3.7rem;
  top: 265px;
  left: 50px;
  width: 260px;
  transform: rotateX(-6deg) rotateY(-21deg) translateZ(35px);
  text-shadow: 1px 1px 5px #69dbf2, -1px 1px 5px #69dbf2, 1px -1px 5px #69dbf2, -1px -1px 5px #69dbf2;
}