/* First screen fix customization */
body, .body {
  background-color: #000000;
}

video {
  max-width: 100%;
}

.div-block-62 {
  height: 0px;
}
.homescreen-fix .div-block-62 {
  position: fixed;
  height: 1000px;
}

/* Descriptor */
.div-block-17 {
  top: 440px;
}
@media  (max-width: 991px) {
  .div-block-17 {
    top: 470px;
  }
}
@media  (max-width: 767px) {
  .div-block-17 {
    top: 360px;
  }
}
@media  (max-width: 479px) {
  .div-block-17 {
    top: 270px;
  }
  .div-block-17 > .paragraph {
    font-size: 10px;
  }
}
@media (max-width: 479px){
  .div-block-65 {
    background-position: 50% 0px, 0px 148px, 100% 98px;
  }
}

.section-2 {
  margin-top: 1480px;
}

@media  (max-width: 767px) {
  .w-slider-arrow-left,
  .w-slider-arrow-right {
    top: 2310px;
  }
  .w-slider-arrow-left {
    right: 180px;
  }
  .w-slider-arrow-right {
    left: 180px;
  }
}
@media  (max-width: 479px) {
  .w-slider-arrow-left,
  .w-slider-arrow-right {
    top: 2150px;
  }
}

.section-3 {
  overflow: hidden;
}


/* Liquid Buttons */
.liquid-button {
  display: block;
  width: 230px;
  height: 120px;
  margin: auto;
}

#lqbtn-1 {
  margin-top: -15px;
}
#lqbtn-2 {
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
}
#lqbtn-3 {
  margin-top: 579px;
}
@media  (max-width: 991px) {
  #lqbtn-3 {
    margin-top: 700px;
  }
}
@media  (max-width: 767px) {
  #lqbtn-3 {
    margin-top: 630px;
  }
}
@media (max-width: 479px) {
  #lqbtn-3 {
    margin-top: 150px;
  }
}

/* Leaders section */

.section-2 .div-block-19 {
  top: 0px;
}
.section-2 .div-block-64 .div-block-65 {
  top: -540px;
}
@media (max-width: 767px) {
  .section-2 .div-block-64 .div-block-65 {
    top: -100px;
  }
}
@media (max-width: 479px) {
  .section-2 .div-block-64 .div-block-65 {
    top: -730px;
    z-index: 25000;
  }
}

.liders_block {
  height: 700px;
}

  .liders_sphere {
    padding-top: 449px;
    height: 800px;
    background-position: 50% 361px;
  }
@media (max-width: 767px) {
  .liders_sphere {
    background-position: 50% 161px;
    padding-top: 0;
  }
  .div-block-51 .image-4 {
    display: none;
  }
}
@media (max-width: 479px) {
  .liders_sphere {
    background-position: 50% 441px;
    padding-top: 449px;
  }
}

.section-3 .div-block-34._4 .div-block-35 {
  top: 609px;
}

.liders_block .div-block-5 .row-6.w-row {
  cursor: pointer;
}

.slade {
  max-width: 100%;
}

/* Plantes */
.section-3 .div-block-37 {
  margin-top: 600px;
}
@media (max-width: 479px) {
  .div-block-36.planet {
    margin-top: 30px;
  }
  .div-block-34 {
    background-image: url("../images/5acdd737731dc2a4dbdb10c4_D0A1D0BBD0BED0B9201.png"), none, url("../images/5acb60703bf54b7c34422e24_D0A1D0BBD0BED0B9205-min.png");
    background-position: 50% 65%, 100% 95px, 50% 349px;
    background-size: 1200px, 1000px 1000px, 800px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-attachment: scroll, scroll, scroll;
  }

}


/* Trades counter */
@media screen and (max-width: 767px){
  .background-video-2 {
    overflow: hidden;
  }
}
@media screen and (max-width: 479px){
  .background-video-2 {
    display: block !important;
    top: -444px;
  }
  .div-block-67 {
    max-width: 100%;
  }
}

/* Bottom stars */

.div-block-44.star.in-cosmo {
  top: 706px;
  position: absolute;
}

/* Modal */
.ibox .div-block-73 {
  /* close [x] button */
  transform: scale(0.4);
  top: -43px;
  right: -43px;
  cursor: pointer;
}

.divform {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 25px 18px;
  border: 2px solid #309ab5;
  max-width: 240px;
  top: 15%;
}

.divform > div[class^="div-block-72"] {
  border-radius: 0;
  box-shadow: none;
  margin: 0px 5px;
  cursor: pointer;
  height: 50px;
  width: 50px;
}