/* First screen fix customization */
body, .body {
  background-color: #000000;
}

.div-block-62 {
  height: 0px;
}
.homescreen-fix .div-block-62 {
  position: fixed;
  height: 1000px;
}

/* Descriptor */
.div-block-17 {
  top: 440px;
}
@media  (max-width: 479px) {
  .div-block-17 {
    top: 270px;
  }
}
@media  (max-width: 767px) {
  .div-block-17 {
    top: 270px;
  }
}
@media  (max-width: 991px) {
  .div-block-17 {
    top: 350px;
  }
}


.section-2 {
  margin-top: 1480px;
}

@media  (max-width: 479px) {
  .w-slider-arrow-left,
  .w-slider-arrow-right {
    top: 2150px;
  }
}
}


/* Liquid Buttons */
.liquid-button {
  display: block;
  width: 230px;
  height: 120px;
  margin: auto;
}

#lqbtn-1 {
  margin-top: -15px;
}
#lqbtn-2 {
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
}
#lqbtn-3 {
  margin-top: 579px;
}
@media  (max-width: 991px) {
  #lqbtn-3 {
    margin-top: 700px;
  }
}
@media  (max-width: 767px) {
  #lqbtn-3 {
    margin-top: 630px;
  }
}
@media (max-width: 479px) {
  #lqbtn-3 {
    margin-top: 150px;
  }
}

/* Leaders section */

.section-2 .div-block-19 {
  top: 0px;
}

.section-2 .div-block-64 .div-block-65 {
  top: -540px;
}
@media (max-width: 767px) {
  .section-2 .div-block-64 .div-block-65 {
    top: -100px;
  }
}
@media (max-width: 479px) {
  .section-2 .div-block-64 .div-block-65 {
    top: -730px;
  }
}

.liders_block {
  height: 700px;
}

  .liders_sphere {
    padding-top: 449px;
    height: 800px;
    background-position: 50% 361px;
  }

.section-3 .div-block-34._4 .div-block-35 {
  top: 609px;
}

.liders_block .div-block-5 .row-6.w-row {
  cursor: pointer;
}

.slade {
  max-width: 100%;
}

/* Plantes */
.section-3 .div-block-37 {
  margin-top: 600px;
}

/* Bottom stars */

.div-block-44.star.in-cosmo {
  top: 706px;
  position: absolute;
}

/* Modal */
.ibox .div-block-73 {
  /* close [x] button */
  transform: scale(0.4);
  top: -43px;
  right: -43px;
  cursor: pointer;
}

.divform {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 25px 18px;
  border: 2px solid #309ab5;
  max-width: 240px;
  top: 15%;
}

.divform > div[class^="div-block-72"] {
  border-radius: 0;
  box-shadow: none;
  margin: 0px 5px;
  cursor: pointer;
  height: 50px;
  width: 50px;
}