html {
  font-size: 1rem;
}

.color-fff {
  color: white;
}

.color-00ffeb, .color-cyan-highlight {
  color: #00ffeb;
}

.liquid-button {
  width: 350px;
  display: block;
}

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

#main-asteroid-wrap {
  z-index: 10;
}

#homescreen.parallax {
  z-index: 2;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

#homescreen-logo {
  background-image: url("../images/5ac48385b50fc92a57e6123d_space_main.png");
  background-position: center 5%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 10% 6% 10%;
}

#homescreen-logo img {
  max-width: 60%;
  max-height: 80%;
}

#homescreen-descriptor {
  font-size: 150%;
}

#stats {
  background-image: url("../images/5ac486f7485eedd9d577ce66_Big_meteors_up.png");
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Open Sans";
}
#stats.parallax {
  z-index: 3;
}

#stats-floating-asteroids-top-big {
  background-image: url("../images/meteors_big_fixed.png");
  z-index: 50;
  background-color: #ff000070;
}

#stats-floating-asteroids-top-small {
  background-image: url("../images/meteors_small_fixed.png");
  background-color: #00800087;
  z-index: 100;
}

.floating-asteroids-top {
  height: 900px;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
}

#stats-top-leaders {
  margin-top: 20rem;
}

#stats-top-leaders .leader-position,
#stats-top-leaders .leader-name {
  font-size: 120%;
  font-weight: 500;
}

#stats-top-leaders .leader-icon {
  max-width: 200px;
  margin-bottom: 30px;
}

a.leader-profile {
  color: #3ab8ff;
}

#search-wrap {
  height: 3rem;
}

#search-input {
  height: 100%;
  border-radius: 1.5rem;
  background-color: black;
  padding: 0 1rem;
  border-width: 1px;
  border-color: #474747;
  border-style: solid;
  color: white;
}

#search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: -2.5rem;
  cursor: pointer;
}

#members-table {
  width: 80%;
}

#members-table thead tr {
  background-color: #010214;
}
#members-table tbody {
  background-image: -webkit-linear-gradient(270deg, #14001b, #000008);
  background-image: linear-gradient(180deg, #14001b, #000008);
}

#members-table thead tr th,
#members-table tbody tr td {
  padding: 1rem;
  text-align: center;
}

#members-table thead tr th:first-child {
  border-radius: 1rem 0 0 1rem;
}
#members-table thead tr th:last-child {
  border-radius: 0 1rem 1rem 0;
}

#members-table tbody tr:first-child td:first-child {
  border-radius: 1rem 0 0 0;
}
#members-table tbody tr:first-child td:last-child {
  border-radius: 0 1rem 0 0;
}
#members-table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 1rem;
}
#members-table tbody tr:last-child td:last-child {
  border-radius: 0 0 1rem 0;
}

#members-table thead:after {
  content: "-";
  display: block;
  line-height: 1em;
  color: transparent;
}

#members-table .contacts-icon {
  width: 1rem;
  height: 1rem;
}

#members-table-pagination {
  padding-top: 1rem;
}

#members-table div[class^="members-table-pagination-page"] {
  margin: 0 0.5rem;
}

#members-table .members-table-pagination-page.active {
  font-size: 120%;
}

#members-table .members-table-pagination-arrow {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#members-table-pagination-prev {
  background-image: url("../images/5ac5f297ef857a66790530cf_Arrow_left.png");
  margin-right: 3rem;
}
#members-table-pagination-next {
  background-image: url("../images/5ac5f297ef857a66fd0530ce_Arrow_right.png");
  margin-left: 3rem;
}

#stats-hall-of-fame {
  margin-top: 1rem;
  background-image: url("../images/5ac486f7485eedd9d577ce66_Big_meteors_down.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20rem;
}

#stats-hall-of-fame .hall-of-fame-header {
  padding-top: 5rem;
  background-image: url("../images/glow-hall-of-fame.png");
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
}

#hall-of-fame-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#stats-hall-of-fame .hall-of-fame-arrow {
  width: 50px;
  height: 100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#hall-of-fame-prev {
  background-image: url("../images/5ac5f297ef857a66790530cf_Arrow_left.png");
}
#hall-of-fame-next {
  background-image: url("../images/5ac5f297ef857a66fd0530ce_Arrow_right.png");
}

#hall-of-fame-view {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-height: 250px;
  overflow: hidden;
}

#hall-of-fame-view .hall-of-fame-item {
  width: 180px;
  height: 250px;
  background-repeat: no-repeat;
  text-align: center;
}

#hall-of-fame-view .hall-of-fame-item.gold {
  background-image: url("../images/Flame_card_gold.png");
}
#hall-of-fame-view .hall-of-fame-item.silver {
  background-image: url("../images/Flame_card_silver.png");
}
#hall-of-fame-view .hall-of-fame-item.bronze {
  background-image: url("../images/Flame_card_Bronze.png");
}

.hall-of-fame-item {
  padding: 5.5rem 2.5rem 3.5rem;
  font-size: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hall-of-fame-item .name {
  font-size: 100%;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

#stars-back-wrap {
  background-image: url("../images/stars-back-new.png");
  background-position: top center;
  background-size: cover;
  z-index: 9;
  margin-top: -15rem;
  padding-top: 15rem;
  padding-bottom: 15rem;
  overflow: hidden;
}

#stats-currency-info {
  background-image: url("../images/5ac4bad8bbe2f5fac4d2aa7b_Mars.png");
  background-position: center -20vh;
  background-size: 65%;
  background-repeat: no-repeat;
  min-height: 650px;
  margin-top: -30rem;
  padding-top: 30rem;
}

#planets {
  height: 650px;
}

#roadmap .header {
  font-size: 50px;
}

#roadmap-wrap {
  margin-top: 3rem;
}

#roadmap-points {
  background-image: url("../images/5ac4badc485eed7a39781f7d_Road_map.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 800px;
}

#roadmap-points .roadmap-point {
  font-weight: 400;
}

#roadmap-points .roadmap-point a {
  color: #ff337c;
  text-decoration: underline;
}

#roadmap-points .roadmap-point {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
}

#roadmap-points .roadmap-point .roadmap-icon {
  width: 40px;
  height: 40px;
  background-color: #00cceb;
  box-shadow: 0 0 47px 8px rgba(3, 203, 234, .6);
  background-position: center;
  background-size: 17px 17px;
  background-repeat: no-repeat;
}

#roadmap-points .roadmap-point .description {
  padding: 0.5rem 2.5rem;
  border-radius: 1rem;
  margin: 0.5rem;
  border: 1px solid rgba(3, 203, 234, .67);
  background-color: rgba(0, 0, 0, .66);
  box-shadow: 0 0 33px 1px rgba(3, 203, 234, .62);
  min-width: fit-content;
  max-width: 15rem;
}

#roadmap-point-step-1 {
}
#roadmap-point-step-2 {
  top: 25%;
  left: 40%;
}
#roadmap-point-step-3 {
  left: 20%;
  top: 40%;
}
#roadmap-point-step-4 {
  bottom: 0;
}

#roadmap-icon-step-1 {
  background-image: url("../images/5ac4bad4bbe2f58bfcd2aa77_link.png")
}
#roadmap-icon-step-2 {
  background-image: url("../images/5ac4ca63b50fc9943ce66d27_astronaut-helmet.svg")
}
#roadmap-icon-step-3 {
  background-image: url("../images/5ac4bad2bbe2f573dcd2aa73_downloading-down-arrow.png")
}
#roadmap-icon-step-4 {
  background-image: url("../images/5ac4bad0bbe2f5ac7dd2aa71_coins.png")
}

#counters {
  margin-top: -15rem;
  z-index: 10;
}

#stats-members-counter {
  min-height: 600px;
  width: 100%;
  max-width: 1400px;
  margin-bottom: 12rem;
  background-image: url("../images/moon_ground_2.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#members-counter-wrap {
  width: 600px;
  height: 380px;
  background-image: url("../images/5ac4bad9511166dbf5465d91_neon_members.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 70px;
  top: 90px;
  z-index: 10;
}

#members-counter-spaceship {
  width: 800px;
  height: 334px;
  background-image: url("../images/5ac4badfb50fc962e9e65715_spaceship.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: -60px;
  top: 200px;
  z-index: 11;
}

#members-counter-value {
  position: absolute;
  font-size: 1.7rem;
  font-family: perfoovalnormal;
  text-align: right;
  top: 84px;
  left: 148px;
  color: white;
  width: 103px;
  transform: rotate(-8.8deg);
  text-shadow: 1px 1px 3px red, -1px 1px 3px red, 1px -1px 3px red, -1px -1px 3px red;
}

#stats-trades-counter {

}

#trades-counter-video-back-wrap video {
  width: 90vw;
  display: block;
  z-index: 0;
}

#trades-counter-counter-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 10;
}

#trades-counter-counter-back {
  width: 400px;
  height: 277px;
  background-image: url("../images/5ad71df76638162ae971f176_Trades.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 10;
  margin-top: 8%;
  margin-right: 8%;
}

#trades-counter-value {
  position: absolute;
  font-size: 4.5rem;
  font-family: perfoovalnormal;
  text-align: right;
  top: 105px;
  left: 40px;
  color: white;
  width: 280px;
  text-shadow: 1px 1px 5px #69dbf2, -1px 1px 5px #69dbf2, 1px -1px 5px #69dbf2, -1px -1px 5px #69dbf2;
}


#footer {
  background-image: url("../images/5aefe1ed70137421641c4aae_D093D180D183D0BFD0BFD0B02011.png");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 250px;
  height: 500px;
  margin-top: 20rem;
}

#footer-button-wrap {
  bottom: 0;
}


/**
 ***********************************************************************
 *                            MEDIA QUERIES                            *
 ***********************************************************************
 **/


@media screen and (max-width: 1200px) {
  #homescreen-descriptor {
    font-size: 120%;
  }

  #stats-top-leaders {
    margin-top: 12rem;
  }

  #stats-top-leaders .leader-icon {
    max-width: 180px;
    margin-bottom: auto;
  }

  #members-table {
    width: 100%;
  }

  #stats-currency-info {
    background-position: center top;
    background-size: 80%;
  }

  #stats-members-counter {
    min-height: 490px;
    margin-bottom: 9rem;
  }

  #members-counter-wrap {
    left: 0;
    top: 30px;
  }

  #members-counter-spaceship {
    max-width: 60%;
    top: 110px;
    right: 0;
  }
}

@media screen and (max-width: 992px) {
  #homescreen-logo img {
    max-width: 80%;
  }

  #homescreen-descriptor {
    font-size: 100%;
  }

  #stats-top-leaders .leader-icon {
    max-width: 150px;
  }

  #stats-members-counter {
    min-height: 430px;
    margin-bottom: 4rem;
  }

  #members-counter-wrap {
    top: 0px;
  }

  #members-counter-spaceship {
    top: 100px;
  }
}

@media screen and (max-width: 767px) {
  #hall-of-fame-view {
    max-height: fit-content;
    overflow: visible;
  }

  #stats-currency-info {
    background-size: 90vw;
  }

  #roadmap-points {
    background-image: url("../images/5ad877f6a295e7d4c6eba148_20.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #roadmap-points .roadmap-point {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 15rem;
    margin: 1.5rem 0;
  }

  #roadmap-point-step-2 {
    top: auto;
    left: auto;
  }
  #roadmap-point-step-3 {
    left: auto;
    top: auto;
  }
  #roadmap-point-step-4 {
    bottom: auto;
  }

  #members-counter-wrap {
    left: -70px;
  }

  #members-counter-spaceship {
    max-width: 80%;
    right: -60px;
  }

  #footer {
    margin-top: 10rem;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 0.7rem;
  }

  .liquid-button {
    width: 250px;
  }

  #stats-top-leaders .leader-icon {
    max-width: 100%;
  }

  #members-table thead tr th:nth-child(2) {
    border-radius: 1rem 0 0 1rem;
  }
  #members-table tbody tr:first-child td:nth-child(2) {
    border-radius: 1rem 0 0 0;
  }
  #members-table tbody tr:last-child td:nth-child(2) {
    border-radius: 0 0 0 1rem;
  }

  #hall-of-fame-view .hall-of-fame-item {
    padding: 7.5rem 2.5rem 4.5rem;
    font-size: 100%;
  }

  .hall-of-fame-item .name {
    font-size: 105%;
  }

  #stars-back-wrap {
    margin-top: -25rem;
    padding-top: 25rem;
  }

  #members-counter-value {
    font-size: 2.3rem;
  }

  #members-counter-spaceship {
    max-width: 130%;
    right: -50%;
  }

  #trades-counter-counter-wrap {
    justify-content: center;
    align-items: center;
  }

  #trades-counter-counter-back {
    margin: 0;
  }

  #trades-counter-value {
    font-size: 6.2rem;
    width: 70%;
  }

  #footer {
    height: 400px;
  }
}

@media screen and (max-width: 480px) {
  .floating-asteroids-top {
    height: 185px;
  }

  #hall-of-fame-view .hall-of-fame-item {
    width: 125px;
    height: 180px;
    font-size: 80%;
    background-size: contain;
  }

  #stats-currency-info {
    height: 800px;
  }

  #stats-members-counter {
    min-height: 380px;
  }

  #members-counter-wrap {
    left: -100px;
  }

  #members-counter-spaceship {
    max-width: 150%;
    right: -60%;
  }

  #trades-counter-value {
    font-size: 4.5rem;
    top: 115px;
    left: 30px;
  }

  #footer {
    height: 280px;
  }
}